<div id="<%= dom_id document %>">
  <p>
    <strong>File Name:</strong>
    <%= document.file_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= document.description %>
  </p>

  <p>
    <strong>File:</strong>
    <%= link_to document.file_name, rails_blob_path(document.file, disposition: "attachment") if document.file.attached? %>
 </p>


 <% if document.file.attached? %>
    <h3>File Content:</h3>
    <pre>
      <%= raw document.file.download %>
    </pre>
<% else %>
    <p>No file attached</p>
<% end %>

</div>
