<%= form_with(model: document) do |form| %>
  <% if document.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
        <% document.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% end %>
  <%= form_with(model: @document, local: true, multipart: true) do |form| %>
     <div>
      <%= form.label :file_name, style: "display: block", class:"form-label" %>
      <%= form.text_field :file_name, class:"form-control" %>
    </div>

    <div>
      <%= form.label :description, style: "display: block" %>
      <%= form.text_area :description, class:"form-control" %>
    </div>

    <div>
      <%= form.label :file, style: "display: block" %>
      <%= form.file_field :file, class:"btn btn-success" %>
    </div>

    <br>
  <%= form.submit "Upload", class:"btn btn-primary" %>
<% end %>
